<h1>APSRTC SAMPLE MENU</h1>
<a routerLink="/home">Home</a>| <a routerLink="/about">About</a>|
<a routerLink="/contact">Contact</a>|
<a routerLink="/customercare">Customercare</a>|
<a routerLink="/ticketstatus">Ticketstatus</a>|
<a routerLink="/cancelticket">Cancelticket</a>|
<a routerLink="/ticketservice">Ticketservice</a>|
<a routerLink="/gallery">Gallery</a>| <a routerLink="/wallet">Wallet</a>|
<a routerLink="/timetable">Logistics</a>|
<a routerLink="/bussearch">Bussearch</a>|

<hr />
<router-outlet></router-outlet>
